:root {
  --font-family: 'Poppins', sans-serif;
  --headings-font-family: 'Poppins', sans-serif;
  --font-weight: 400;
  --columns-width: 1710px;
  --link-color: var(--indigo);
  --line-height: 2;
  font-size: 20px;
  letter-spacing: 0.02rem;
  --column-gutter: 3rem;
}

@media screen and (max-width: 768px) {
  :root {
    font-size: 16px;   
    --column-gutter: 2rem;     
  }
  #intro {
    text-align: center;
  }
}

body {
}

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

img[data-emergence=visible] {
  animation-name: pulse;
}

.bolder {
  font-weight: 800;
}

nav {
  background-color: #FFE8CC;
}

.serif {
  font-family: "Noto Serif JP", serif;
}

#intro {
  background: linear-gradient(
    to bottom, 
    #FFE8CC 0%, 
    #FFE8CC 50%, 
    #F3D9FA 50%, 
    #F3D9FA 100%
  );  
}

#claim, #signup {
  background-color: #F3D9FA;  
}
