:root {
  --font-family: 'Poppins', sans-serif;
  --headings-font-family: 'Poppins', sans-serif;
  --font-weight: 400;
  --columns-width: 1710px;
  --link-color: var(--indigo);
  --line-height: 2;
  font-size: 20px;
  letter-spacing: 0.02rem;
  --column-gutter: 6rem;
}

@media screen and (max-width: 768px) {
  :root {
    font-size: 16px;   
    --column-gutter: 2rem;     
  }
}

body {
}

img[data-emergence=visible] {
  animation-name: pulse;
}

.bolder {
  font-weight: 800;
}

nav {
  background-color: #FFE8CC;
}

.serif {
  font-family: "Noto Serif JP", serif;
}

#intro {
  background: linear-gradient(
    to bottom, 
    #FFE8CC 0%, 
    #FFE8CC 50%, 
    #F3D9FA 50%, 
    #F3D9FA 100%
  );  
}

#claim {
  background-color: #F3D9FA;  
}

.card {
  transform: rotate(-12deg);
}

.content {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.card:hover .content {
  transform: rotateY(180deg) ;
  transition: transform 0.5s;
}

.front,
.back {
  position: absolute;
  height: 100%;
  width: 100%;
  text-align: center;
  backface-visibility: hidden;
}

.back {
  transform: rotateY(180deg);
}
